*{
    padding:0;
    margin:0;
}
#game{
width:1500px;
height:600px;
border: 1px solid black;
}
#character{
width:60px;
height:150px;
background-color:red;
position: relative;
top:450px;}
.animate{
animation: jump 500ms;
}
@keyframes jump{
    0%{top:450px;}
    30%{top:300px;}
    70%{top:300px;}
    100%{top:450px;}
}
#block{
    width:60px;
    height:60px;
    background-color:blue;
    position: relative;
    top:390px;
    left:1440px;
    animation: block 1s infinite;
}

@keyframes block{
    0%{left:1440px;}
    100%{left:-120px;}
}